<%= simple_form_for(@profesiones_usuario, :html => { :multipart => true, :remote => true }) do |f| %>
<div class="user">
	<div class="modal-header">
		<h4 class="modal-title"><h3>Datos Profesión Usuario</h3></h4>
	</div><br>
	<div class="row">
		<div class="col-md-4">
			Usuario:
		</div>
		<div class="col-md-6">
			<%= f.label :user_id, :label => "Selecciona Tu Profesion:",  :required => true %><br/>
            <%= f.collection_select :user_id, 
                User.all, :id, :nombre1,
                include_blank: '--Seleccionar--',
                input_html:{ class: 'form-control input-sm' } %>
		</div>
		<div class="col-md-4">
			Profesion:
		</div>
		<div class="col-md-6">
			<%= f.label :profesion_id, :label => "Selecciona Tu Profesion:",  :required => true %><br/>
            <%= f.collection_select :profesion_id, 
                Profesion.all, :id, :nombre,
                include_blank: '--Seleccionar--',
                input_html:{ class: 'form-control input-sm' } %>
		</div>
	</div>
</div>
<div class="modal-footer">
	<%= f.submit "Guardar", :class => 'btn btn-primary' %>
	<a href="#" class="btn btn-default" onclick="$.lazybox.close()">Cerrar</a>
</div>
<% end %>